<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tap.ilman.ta04">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pengaturan" />
        <activity
            android:name=".DaftarSoalActivity"
            android:label="@string/title_activity_daftar_soal"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tap.ilman.ta04.MainActivity" />
        </activity>
        <activity
            android:name=".JawabSoalActivity"
            android:label="@string/title_activity_activity_jawab_soal"
            android:parentActivityName=".DaftarSoalActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>